body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100%;
}

/* ======= HEADER ======= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 10px;
    width: 100%;
    height: 1.5cm;
    left: 0px;
    position: fixed;
    z-index: 99999;
    box-sizing: border-box;
}


.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #556b5b;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.user-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #556b5b;
    position: relative;
    bottom: 5px; /* Adjust this value to lift more or less */
}

button {
    background-color: #fff;
    color: #556b5b;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #000; 
    border-radius: 20px; 
    font-weight: bold;
    position: relative;
    z-index: 1000;
}

/* ======= NAVIGATION ======= */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #556b5b;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease-in-out;
    top: 10px;
}

nav ul li a:hover {
    color: #e96951;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e96951;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 10px 10px;
        font-size: 8px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .mobile-layout nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        font-family: 'Poppins', sans-serif;
    }
    
    .mobile-layout nav ul li {
        margin-left: 5px;
        margin-right: 35px;
    }
    
    .mobile-layout nav ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        transition: color 0.3s ease-in-out;
    }
    
    .mobile-layout nav ul li a:hover {
        color: #e96951;
    }
    
    .mobile-layout nav ul li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #e96951;
        transition: width 0.3s ease-in-out;
    }
    
    .mobile-layout nav ul li a:hover::after {
        width: 100%;
    }
}